body{
    background-color: rgb(247, 247, 247);
    display: flex;
    justify-content: left;
    align-items: center;
    margin-left: 70px;
    margin-bottom: 30px;    
    height: 100vh;
}
label{
    color: rgb(255, 255, 255);
}
form{
    width: 400px;
    padding: 30px;
    height: 500px;
    justify-content: center;
    background-color: #0634a2;
    border-radius: 30px;
}
input{
    border: none;
    
}
input,button{
    padding: 20px;
    margin-bottom: 20px;
    width: -webkit-fill-available;
    border-radius: 30px;
}

