@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Josefin Sans", sans-serif;
}
body {
    background-color: #fff;
}
.login {
    width: 700px;
    height: 100%;
    background: #d9d9d9;
    position: fixed;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
}
.login {
    text-align: center;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}
.login img {
    margin-top: 35px;
    width: 450px;
    
}
.email input {
    font-size: 30px;
    border-radius: 40px;
    border: none;
    width: 520px;
    height: 70px;
    padding-left: 20px;
    background-color:#d9d9d9 ;
    color: #000000;
}
.nome input {
    font-size: 30px;
    border-radius: 40px;
    border: none;
    width: 520px;
    height: 70px;
    padding-left: 20px;
    background-color:#d9d9d9 ;
    color: #000000;
    margin-top: 15px;
}
.cpf input {
    font-size: 30px;
    border-radius: 40px;
    border: none;
    width: 520px;
    height: 70px;
    padding-left: 20px;
    background-color:#d9d9d9 ;
    color: #000000;
    margin-top: 15px;
}
.senha input {
    font-size: 30px;
    border-radius: 40px;
    border: none;
    width: 520px;
    height: 70px;
    padding-left: 20px;
    background-color:#d9d9d9 ;
    color: #000000;
    margin-top: 15px;
}
.entrar input{
    margin-top: 15px;
    font-size: 30px;
    cursor: pointer;
    width: 150px;
    height: 60px;
    border-radius: 20px;
    border: none;
    background-color: azure;
    color: #333232;
}
input ::placeholder {
    color: #b6b6b6;
}
h1 {
    color: #141414;
    font-size: 45px;
    
}
p {
    font-size: 20px;
    margin-top: 15px;
    color: #fff;
}

.a-link{
    padding-top: 15px;
    color: #d9d9d9;
}
.a-link:hover{
    text-decoration: underline;
}
.caixa {
    padding: 25px;
    margin-left: 50px;
    width: 590px;
    height: 600px;
    margin-top: 10px;
    background-color: #0634a2;
    border-radius: 30px;
    
}
.lembrar-esquecer {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    color: #fff;
}
.lembrar-esquecer label input {
    accent-color: aquamarine;
    margin-right: 3px;
}
.lembrar-esquecer a {
    color: #d9d9d9;
}
.lembrar-esquecer a:hover{
    text-decoration: underline;
}
input {
    outline: none;
}
.logo {
    width: 380px;
    margin-top: 150px;
    margin-left: 800px;
}